
#world{
    width:100%;
    height:100%;
    top:0;left:0;
    overflow: hidden;
}


#container{
    position: fixed;
    width:100%;
    min-height:10000px;
    top: 0; left: 0;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    overflow-y: scroll;
}

.poem{
    margin:auto;
    position: fixed;
    top:50%;
    background:0;
}


::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}