
#world{
    position: absolute;
    width:100%;
    height: auto;
    background: yellow;
    top:0;left:0;
    overflow-y: scroll;
}


#container{
    width:100%;
    height: auto;
    top: 0; left: 0;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    background: red;
}

.poem{
    margin:auto;
    position: fixed;
    top:50%;
    margin-top:-25%;
    background:0;
}

.goback{
    color:#000 !important;
}

a{
    color: #000;
}


::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

